<!-- views/partials/header.ejs -->
<header style="background-color: <%= brandColor %>; padding: 10px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <a href="/">
        <img src="<%= logoUrl %>" alt="Logo" style="height: 50px;">
      </a>
      <div>
        <a href="/" class="nav-button">Home</a>
        <a href="/logout" class="nav-button">Logout</a>
      </div>
    </div>
  </header>
  